<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/socket.io/socket.io.js" type="text/javascript" charset="utf-8"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <script type="text/javascript">
      var socket  = io.connect();
      var model = prompt("what model?");
      socket.emit("modelname", model);
      socket.on("logthis", function(data) {
          console.log(data);
      });
    </script>
  </body>
</html>
