<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/socket.io/socket.io.js" type="text/javascript" charset="utf-8"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <pre id="console"></pre>

    <script type="text/javascript">
      var socket  = io.connect();
      var model = prompt("what model?");
      var regex = prompt("what pattern?");

      socket.emit("greplog", { model: model, regex: regex });
      socket.on("logthis", function(data) {
        $("#console").append(data);
	$(document).scrollTop($(document).height());
      });
    </script>

  </body>
</html>
