<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/socket.io/socket.io.js" type="text/javascript" charset="utf-8"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <pre id="console"></pre>

    <script type="text/javascript">
      var socket  = io.connect();

      socket.on("message", function(data) {
          console.log(data);
          data = JSON.parse(data);
          $("#console").append(data.content);
      });
    </script>

  </body>
</html>
